#centralnav{
    display: flex;
    justify-content: center;
}

/*let's define an entry class*/
.textpost {
    display: flex;
    background-color: hsl(180, 16%, 39%);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 00px;
    margin-right: 10px;
    box-align: center;
    box-sizing: border-box;
    padding: 10px;
    /* border-radius: 1rem; */
    flex-grow: 1;
    max-width: 70rem;
}

.smallimagepost {
    display: flex;
    background-color: hsl(180, 16%, 39%);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 00px;
    margin-right: 10px;
    box-align: center;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 1rem;
    flex-grow: 1;
    max-width: 70rem;
    max-height: 50rem;
}

.smallimagepost > img {
    max-width: 25%;
    max-height: 50%;
}

/* Reminder, please dot walk to and adjust the class items to make sure their sum width values equal 70rem */
.rowdivhalf > .textpost{
    min-width: 20rem;
    max-width: 40rem;
}

.rowdivhalf {
    display: flex;
    flex-flow: row wrap;
}


#centralnav > *{
    margin-left: 5px;
    margin-right: 5px;
}

#centralnav > a{
    color: white;
}

#homecontent {
    display: flex;
    flex-direction: column;
    /*background-color: #3E5622;*/
    margin: auto;
    width: 86%;
    margin-bottom: 50px;
    margin-top: 50px;
    justify-content: center;
    max-width: 70rem;

}


body {
    background-color: hsl(114, 22%, 26%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
